<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container-fluid">

  <!-- Call to Action -->
  <section id="call-to-action" class="row">
  	<div class="col-lg-6">
	  <h3>Welcome to the Dashboard, {{ user.name }}</h3>
	  <p>You can use this page to create new appointments with dogsitters. You can only access this page if you are logged in.</p>
      <h2>Update Profile</2>
      <form method="post" action="/auth/update"> 
        <img src="{{ user.image }}=s120-c" id="preview-image">
        <button id="btn-upload" class="btn btn-primary">Upload Image</button> 
        <div class="input-group mb-2" style="display: none">
          <input type="text" class="form-control" placeholder="{{ user.image }}" aria-label="Full name" aria-describedby="basic-addon2" name="image" value="{{ user.image }}" id="image-input">
        </div>      
        <div class="input-group mb-2">
          <input type="text" class="form-control" placeholder="{{ user.name }}" aria-label="Full name" aria-describedby="basic-addon2" name="name" value="{{ user.name }}">
        </div>
        <div class="input-group mb-2">
          <input type="email" class="form-control" placeholder="{{ user.email }}" aria-label="Email" aria-describedby="basic-addon2" name="email" value="{{ user.email }}">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>  
      </form>


  	</div>
    <div class="col-lg-6">

      {{#isDogOwner}}
      <h2>Create a Reservation</h2>
      <form method="post" action="/api/reservations"> 
        <img src="" id="dog-preview-image">
        <button id="btn-reservation-upload" class="btn btn-primary">Upload Image</button>
        <div class="input-group mb-2" style="display: none">
          <input type="text" class="form-control" aria-label="Dog Image" aria-describedby="basic-addon2" name="image" id="dog-image-input">
        </div>  

        <div class="input-group mb-2">
          <input type="text" class="form-control" placeholder="Dog's name" aria-label="Dog's name" aria-describedby="basic-addon2" name="dogName">
        </div>

        <div class="input-group mb-2">
          <input type="date" class="form-control" placeholder="2018-2-19" aria-label="Date" aria-describedby="basic-addon2" name="date">
        </div>
        <button class="btn btn-primary" type="submit">Create new reservation</button>  
      </form>
      {{/isDogOwner}}

      <h2>Reservations: </h2>
      <ul id="reservations">
        {{#reservations}}
        <li class="reservation">{{dogName}} - {{date}}</li>
        {{/reservations}}
      </ul>

    </div>  
  </section>

  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript">

    (function(){
      var turbo = Turbo({ site_id: '5a88f578496d1700140739a7' })

      $('#btn-upload').click(function(event){
        event.preventDefault()
        $('#btn-upload').attr('disabled', true)
        turbo.uploadFile(function(err, data){
          if (err){
            alert('Error:' + err.message)
            return
          }

          $('#btn-upload').attr('disabled', false)
          $('#preview-image').attr('src', data.result.url+'=s120-c')
          $('#image-input').attr('value', data.result.url)
          // data.image.address
          // alert('Upload Complete: ' + JSON.stringify(data))
          console.log(data.result.url)
        })
      })

      $('#btn-reservation-upload').click(function(event){
        event.preventDefault()
        $('#btn-reservation-upload').attr('disabled', true)
        turbo.uploadFile(function(err, data){
          if (err){
            alert('Error:' + err.message)
            return
          }

          $('#btn-reservation-upload').attr('disabled', false)
          $('#dog-preview-image').attr('src', data.result.url+'=s80-c')
          $('#dog-image-input').attr('value', data.result.url)
          // data.image.address
          // alert('Upload Complete: ' + JSON.stringify(data))
          console.log(data.result.url)
        })
      })

    })()

  </script>






</body>
</html>