<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container-fluid">
  <!-- Header -->	
  <header class="row">
  	<div>
	  <h1>DogSitter</h1>
	  <p>Simple web app to connect dog owners with dog sitter.</p>
	</div>    
    <!-- <img src="./images/dog-background-image.jpeg"> -->
  </header>

  <!-- Call to Action -->
  <section id="call-to-action" class="row">
  	<div class="col-lg-6">
	  <h3>Everyone is busy. </h3>
	  <p>DogSitter uses trusted and reviewed sitters so that you knwo you are always getting reliable dogsitter. Dogsitter can help you find a sitter to watch your four legged friend when you have some place to be!</p>
  	</div>
  	<div class="col-lg-6"> 
      <h3>Sign up Today!</h3>
      <button class="btn btn-primary" type="submit">Sign Up</button>  
  	</div>
  </section>

  <!--Sign Up Form -->
  <section>
  	<div id="sign-up">
  	  <h3>Use the form below to sign up.</h3>
  	  <form>
  	  	<div class="input-group mb-2">
          <input type="text" class="form-control" placeholder="Full Name" aria-label="Full Name" aria-describedby="basic-addon2" name="name">
  	  	</div>
        
        <div class="input-group mb-2">
          <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="basic-addon2" name="email">
  	  	</div>

  	  	<div class="input-group mb-2">
          <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" name="password">
  	  	</div>
  	  	<button class="btn btn-primary" type="submit">Submit</button>  
  	  </form>
  	</div>
  </section>

  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>