<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container-fluid">

  <!-- Call to Action -->
  <section id="call-to-action" class="row">
  	<div class="col-lg-4">
	  <h3>Reservations</h3>
	  <p>View all available reservations made by dog owners at the right side of this page. If you are a Dog Sitter, you can accept a reservation to watch the owner's dog</p>
  	</div>
    <div class="col-lg-8">
      <ul id="reservations">
        {{#reservations}}
        <li class="reservation">
          <img src="{{ image }}=s40-c">
          <h2>{{dogName}} </h2>
          <span>{{date}} </span>

          {{#isDogSitter}}
          <button class="btn btn-primary" onclick="_acceptReservation('{{ id }}', '{{ user.id }}')">Accept</button>
          {{/isDogSitter}}
        </li>
        {{/reservations}}
      </ul>
    </div>  
  </section>

  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript">
    function _acceptReservation(id, sitter){
      $.ajax({
        url: '/api/reservations/'+id,
        type: 'PUT',
        data: { 'sitter': sitter },
        success: function(result){
          console.log(result)
        }
      })
    }

  </script>
</body>
</html>