header {
	align-items: center;
	background: url('../images/dog-background-image.jpeg');
	background-position: bottom center;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center;
	height: 80vh;
	flex-wrap: wrap;
	padding: 40px 80px;
	text-align: center;
	width: 100%;
}

header h1 {
	font-size: 72px;
	font-weight: bold;
}
header p {
	font-size: 20px;
	line-height: 40px;
}

form {
	text-align: center;
	margin: 0 auto;
}
form.input-group {margin: 10px auto; }
form input {
	border: 1px solid lightgray !important;
	border-radius: 8px !important;
}

#call-to-action,
#sign-up {
	padding: 40px 80px;
}

#call-to-action div,
 {
	text-align: center;
}

#sign-up input { margin: 10px auto; }
#sign-up input { margin: 10px auto; }
#reservations { list-style-type: none; }
#reservations .reservation {
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 20px;
}
#reservations .reservation img {
	border-radius: 50%;
	margin-right: 10px;
}

#reservations .reservation h2 {
	margin: 0;
	padding: 0;
}