header {
	align-items: center;
	background: url('../images/dog-background-image.jpeg');
	background-position: bottom center;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center;
	height: 80vh;
	flex-wrap: wrap;
	padding: 40px 80px;
	text-align: center;
	width: 100%;
}

header h1 {
	font-size: 72px;
	font-weight: bold;
	display: block;
	flex-basis: 100%;
}

header p {
	font-size: 20px;
	line-height: 40px;
	flex-basis: 100%;
}

#call-to-action,
#sign-up {
	padding: 40px 80px;
}

#call-to-action div,
 {
	text-align: center;
}

#sign-up input { margin: 10px auto; }
#sign-up input { margin: 10px auto; }
#reservations { list-style-type: none; }
#reservations .reservations {
	align-items: center;
	border: 1px light gray;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 20px;
}